@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-birdware: #048baf;
  --color-birdware-bright: #05bef0;
}

body {
  font-size: 0.9rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.multiselect__input,
.multiselect__single {
  min-height: 25px;
  @variant dark {
    background: var(--color-gray-800);
    color: var(--color-white);
  }
}

.multiselect__option {
  background: var(--color-white);
  color: var(--color-black);
  outline: none;
  font-weight: normal;
  @variant dark {
    background: var(--color-gray-800);
    color: var(--color-white);
  }
}

.multiselect__option--selected.multiselect__option--highlight {
  background: var(--color-white);
  color: var(--color-black);
  font-weight: var(--text-normal);
  @variant dark {
    background: var(--color-gray-800);
    color: var(--color-white);
  }
}

.multiselect__tag-icon:focus {
  background: var(--color-white);
}

.multiselect__tags,
.multiselect__tag {
  background: var(--color-white);
  color: var(--color-birdware);
  border: 1px solid var(--color-gray-300);
  @variant dark {
    border: 1px solid var(--color-birdware-bright);
    background: var(--color-gray-800);
    color: var(--color-birdware-bright);
  }
}

.multiselect__tag-icon::after {
  color: var(--color-birdware);
}

.dark .multiselect__tag-icon::after {
  color: var(--color-birdware-bright);
}

.multiselect__tag-icon:focus::after,
  .multiselect__tag-icon:hover::after {
  color: var(--color-birdware);
}

.multiselect__content-wrapper {
  @variant dark {
    background: var(--color-gray-800);
    color: var(--color-white);
  }
}

.router-link-exact-active {
  border-bottom: 2px solid var(--color-birdware);
  @variant dark {
    border-bottom: 2px solid var(--color-birdware-bright);
  }
}

.router-link-active {
  border-bottom: 2px solid var(--color-birdware);
  @variant dark {
    border-bottom: 2px solid var(--color-birdware-bright);
  }
}

.forekomst {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.forekomst-su {
  border-color: var(--color-red-500);
}

.forekomst-speciel {
  border-color: var(--color-green-400);
}

.forskel-success {
  color: var(--color-green-400);
}

.forskel-danger {
  color: var(--color-red-500);
}

.forskel-success::before {
  content: ' + ';
}

.forskel-danger::before {
  content: '-';
}

.leaflet {
    height: 80vh;
    z-index: 0 !important;
}

.leaflet-div-icon {
  background: transparent;
  border-width: 0px;
}
