$white: #fff;
$birdwareColor: #048baf;
$birdwareColor-light: rgba($birdwareColor, 0.5);
$black-20: #00000020;
$black: #000000;
$sucolor: #ff6347;
$specielcolor: #90ee90;
$lightgray: #00000004;

@mixin forekomst-border($bordercolor) {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: $bordercolor;
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin color-birdware() {
  color: $birdwareColor;
}

@mixin background-color-birdware {
  background-color: $birdwareColor;
}

@mixin birdware-border-bottom($border-width: 2px) {
  border-bottom: $border-width solid $birdwareColor;
}

@mixin birdware-border($border-width: 1px, $color: $birdwareColor) {
  border: $border-width solid $color;
}

@mixin display($display) {
  display: $display;
}

@mixin border-radius() {
  border-radius: 4px;
}

body {
  font-size: 0.9rem;
  background-color: $lightgray;
}

.nav-link {
  font-size: 1.1em;
  @include birdware-border($border-width: 2px, $color: transparent);
}

.birdware {
  @include color-birdware();
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group> :not(.btn-check)+.btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-on {
  @include background-color-birdware();

  color: $white;

  &:hover {
    @include background-color-birdware();
    color: $white;
  }
}

.btn-off {

  &:hover {
    @include color-birdware();
  }
}

.btn-equal-width {
  width: 70px;
}

.btn-sm {
  min-width: 70px;
}

.art-flex {
  @include flex();
  gap: 2px 8px;
}

.lokalitet-flex {
  @include flex();
  gap: 2px 15px;
}

.card {
  @include birdware-border($color: $white);
  @include border-radius();
  background-color: $white;
  box-shadow: 0px 0px 1px $birdwareColor-light;
  padding: 2px;
  margin: 1px;
}

.card-header {
  padding: 0px 2px;
  background-color: transparent;
  border-bottom-width: 0px;
  font-weight: 600;
  font-size: 1.07em;
}

.card-body {
  padding: 3px;
}

.col-w-100 {
  width: 100px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.multiselect__input,
.multiselect__single {
  min-height: 25px;
}

.multiselect__option {
  @include color-birdware();
  background: $white;
  outline: none;
  font-weight: normal;
}

.multiselect__tag {
  @include birdware-border($color: $birdwareColor-light);
  @include color-birdware();
  @include border-radius();
  font-weight: 600;
  background: $white;
}

.multiselect__option--selected.multiselect__option--highlight {
  @include color-birdware();
  background: $white;
  font-weight: normal;
}

.multiselect__tag-icon::after {
  @include color-birdware();
}

.multiselect__tag-icon:focus {
  background: $white;
  @include color-birdware();
}

.scroll {
  -ms-overflow-style: none;
  height: 88vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 992px) {
  .row-space-below {
    margin-bottom: 5px;
  }

  .large-text {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .router-link-exact-active {
    @include birdware-border-bottom();
  }

  .router-link-active {
    @include birdware-border-bottom();
  }

  .large-text {
    font-size: 1.4rem;
  }
}

.btn-birdware,
.btn-birdware:hover {
  @include background-color-birdware();
  color: $white;
}

.btn-outline-birdware {
  @include birdware-border($color: $white);
  box-shadow: 0px 0px 1px $birdwareColor-light;
  background-color: $white;

  &:hover {
    @include birdware-border();
  }
}

.navbar {
  background-color: transparent;
}

.nav-link {
  @include color-birdware();

  &:focus {
    @include color-birdware();
  }

  &:hover {
    @include color-birdware();
  }
}

.navbar-brand {
  margin-bottom: 4px;
}

.navbar-brand {
  &:focus {
    @include color-birdware();
  }

  &:hover {
    @include color-birdware();
  }
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

// .btn-outline-birdware,
// .btn-outline-birdware:hover {
//   @include color-birdware();
//   background-color: transparent;
//   border-color: $black-20;
// }

.btn-birdware,
.btn-birdware:hover {
  @include background-color-birdware();
  border-color: $black-20;
  color: $white;
}

.btn.show {
  @include color-birdware();
}

.dropdown-menu {
  font-size: inherit;
}

.dropdown-item:hover {
  @include color-birdware();
}

.offcanvas {
  --bs-offcanvas-width: 50%;
}

.forskel-indikator {
  border-radius: 50%;
  color: $white;
  width: 20px;
}

.forskel-success {
  @include color-birdware();
}

.forskel-danger {
  color: $sucolor;
}

.forekomst-su {
  @include forekomst-border($sucolor);
}

.forekomst-speciel {
  @include forekomst-border($specielcolor);
}

.table-birdware {
  @include display(table);
  border-collapse: separate;
  border-spacing: 15px 0px;
  margin-left: -15px;
}

.table-row-birdware {
  @include display(table-row);
}

.table-cell-birdware {
  @include display(table-cell);
}

.g-2 {
  --bs-gutter-y: 0.7rem;
  --bs-gutter-x: 0.7rem;
}

.btn-group {
  padding: 5px;
  @include birdware-border($color: $white);
  box-shadow: 0px 0px 1px $birdwareColor-light;
  background-color: $white;
}